h2{
	color:#313d4b;
	background-color:#f4f4f4;
	font-family:"Comic Sans MS",cursive,sans-serif;
	width:180px;
	margin: auto;
	padding-right: 80px;
	border-radius: 5px ;
	font-size:42px;
}

.h3{
	color:#313d4b;
	background-color:#f4f4f4;
	font-family:"Comic Sans MS",cursive,sans-serif;
	width:600px;
	margin: auto;
	border-radius: 5px;
	font-size:42px;
}

.h4{
	color:#313d4b;
	background-color:#f4f4f4;
	font-family:"Comic Sans MS",cursive,sans-serif;
	width:180px;
	padding-right: 90px;
	margin: auto;
	border-radius: 5px;
	font-size:42px;
}


body{
	color:white;
  	background-color:#d3d3d3;
	text-align: center;
	text-indent: 3em;	
}
.cp1{
	background-color:#3e8b57;
	font-family:"Comic Sans MS",cursive,sans-serif;
	border:5px black solid;
	width:80%;
	text-align: center;
	margin: auto;
	border-radius: 5px;
	text-indent: 3em;
}

.cp2{
	background-color:#0000ff;
	border:5px black solid;
	width:80%;
	margin: auto;
	border-radius: 5px;
	text-indent: 3em;	
}
.p1{
	background-color:#3a4460;
	font-family:"Comic Sans MS",cursive,sans-serif;
	border:5px black solid;
	width:80%;
	margin: auto;
	border-radius: 5px;
	text-indent: 3em;
}

.p2{
	background-color:#eb1736;
	font-family:"Comic Sans MS",cursive,sans-serif;
	border:5px black solid;
	width:80%;
	text-align: center;
	margin: auto;
	border-radius: 5px;
	text-indent: 3em;	
}
.h5{
	color:#313d4b;
	background-color:#f4f4f4;
	font-family:"Comic Sans MS",cursive,sans-serif;
	width:400px;
	margin: auto;
	padding-right: 70px;
	border-radius: 5px;
	font-size:42px;
}

hr{
	background: #000000;
	width: 1800px;
	height: 4px;
}